.input-user {
    -fx-pref-width: 850px;
    -fx-pref-height: 60px;
    -fx-padding: 5px 20px 5px 20px;
}

.input {
    -fx-pref-width: 750px;
    -fx-max-height: 50px;
}

.send {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.chat-canvas {
    -fx-pref-width: 850px;
    -fx-pref-height: 418px;
    -fx-padding: 20px;
}

.chat {
    -fx-pref-width: 810px;
    -fx-min-height: 368px;
    -fx-max-height: 368px;
    -fx-padding: 5px;
}